imutils
dlib-bin
numpy
scipy
requests
pillow
librosa==0.10.0.post2
tqdm
numba
imutils
imageio_ffmpeg
insightface==0.7.3
onnx==1.14.0
onnxruntime==1.15.0
onnxruntime-gpu==1.15.0
ifnude
git+https://github.com/natlamir/bark.git
